# Global Configuration
NEXT_PUBLIC_API_BASE_URL=http://api.pasadium.tech
NEXT_PUBLIC_AUTH_ISSUER=http://auth.pasadium.tech
NEXT_PUBLIC_AUTH_CLIENT_ID=http://auth.pasadium.tech

# Backend Secrets (NEVER COMMIT THESE)
JWT_SECRET=your_super_secret_random_string_here
DATABASE_URL="postgresql://user:password@localhost:5432/dbname"
DEV_SEED_PASSWORD=your_default_dev_password
